
Data/raw/*
!Data/raw/.gitkeep
Data/processed/**/*
!Data/processed/**/.gitkeep
Data/src/**/__pycache__/
Data/src/**/*.pyc
env/
venv/
.venv/
.DS_Store
Thumbs.db
.idea/
.vscode/
*.ipynb_checkpoints/
*.log
*.parquet
*.csv
*.zip
