# Chặn các file rác hệ thống và code thừa
src/**/__pycache__/
src/**/*.pyc
env/
venv/
.venv/
.idea/
.vscode/
*.ipynb_checkpoints/
*.log
*.zip

# TUYỆT ĐỐI KHÔNG VIẾT *.parquet VÀ *.csv Ở ĐÂY NỮA
# Để trống hoàn toàn phần dữ liệu để Git tự do đẩy folder Data lên GitHub